alembic==0.7.4
BTrees==4.1.4
csvdedupe==0.1.5
csvkit==0.9.1
dataset==0.5.6
dbf==0.94.3
dedupe==0.7.3.2
ecdsa==0.13
Fabric==1.10.2
fastcluster==1.1.20
Flask==0.10.1
geopy==1.9.1
gunicorn==19.3.0
hcluster==0.2.0
itsdangerous==0.24
jdcal==1.0
Jinja2==2.7.3
Mako==1.0.1
MarkupSafe==0.23
numpy==1.9.2
openpyxl==2.2.0b1
paramiko==1.15.2
persistent==4.1.1
psycopg2==2.6
pycrypto==2.6.1
python-dateutil==2.2
python-slugify==0.1.0
PyYAML==3.11
simplejson==3.6.5
six==1.9.0
SQLAlchemy==0.9.9
Unidecode==0.4.17
Werkzeug==0.10.1
wheel==0.24.0
wsgiauth==0.1
xlrd==0.9.4
zope.index==4.1.0
zope.interface==4.1.2
