alembic==0.8.0
BTrees==4.1.4
csvdedupe==0.1.5
csvkit==0.9.1
dataset==0.6.1
dbf==0.94.3
dedupe==0.7.3.2
ecdsa==0.13
Fabric==1.10.2
fastcluster==1.1.20
hcluster==0.2.0
jdcal==1.0
Mako==1.0.1
MarkupSafe==0.23
normality==0.2.2
numpy==1.9.2
openpyxl==2.2.0b1
paramiko==1.15.2
persistent==4.1.1
psycopg2==2.6.1
pycrypto==2.6.1
python-dateutil==2.2
python-editor==0.3
PyYAML==3.11
six==1.9.0
SQLAlchemy==1.0.8
Unidecode==0.4.18
wheel==0.24.0
xlrd==0.9.4
zope.index==4.1.0
zope.interface==4.1.2
